<template name="home">

    <!--Feature Posts Here-->
    <section class="row featured_posts">
        <div class="container">
            <div class="row" id="featured_posts">
                <div class="col-sm-6 post">
                    <div class="row inner">
                        <img src="images/posts/features/1.jpg" alt="" class="featured-img">
                        <div class="row m0 content">
                            <h4 class="category politics"><a href="#">politics</a></h4>
                            <h2 class="title"><a href="single-blog.html">U.S. House Chamber Closed After Unknown Material</a></h2>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 post">
                    <div class="row inner">
                        <img src="images/posts/features/2.jpg" alt="" class="featured-img">
                        <div class="row m0 content">
                            <h4 class="category sports"><a href="#">sports</a></h4>
                            <h2 class="title"><a href="single-blog.html">Philip Rivers: I’m going to be a Charger, wherever we are</a></h2>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 post">
                    <div class="row inner">
                        <img src="images/posts/features/3.jpg" alt="" class="featured-img">
                        <div class="row m0 content">
                            <h4 class="category money"><a href="#">money</a></h4>
                            <h2 class="title"><a href="single-blog.html">U.S. Flag Raised Over Embassy in Republic of Cuba</a></h2>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 post">
                    <div class="row inner">
                        <img src="images/posts/features/4.jpg" alt="" class="featured-img">
                        <div class="row m0 content">
                            <h4 class="category world"><a href="#">world</a></h4>
                            <h2 class="title"><a href="single-blog.html">Death Toll in Chinese Port Blasts Rises to 104</a></h2>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--*****************************************************************************************************************-->
    <!--All Posts Here-->
    <section class="row">
        <div class="container p0">
            <div class="row all_posts" id="all_posts">
                <div class="post_sizer"></div>                
                <div class="col-sm-4 post sticky post-1">
                    <div class="row m0 inner">
                        <div class="row m0 post_contents">
                            <div class="row m0 category politics">
                                <a href="#">politics</a>
                                <div class="dropdown pull-right social_share_drop">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="post_title"><a href="#">Sticky Post: Jeb Bush Calls For VA Overhaul</a></h3>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>
                            <p>Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor. <a href="single-blog.html" class="read_more">Read More<i class="fa fa-angle-double-right"></i></a> </p>
                        </div>
                        <div class="sticky_icon"><img src="images/posts/sticky.png" alt=""></div>
                    </div>
                </div><!--Sticky Post-->
                <div class="col-sm-4 post post-2">
                    <div class="row m0 inner">
                        <div class="row m0 featured_img">
                            <a href="single-blog.html"><img src="images/posts/1.jpg" alt=""></a>
                        </div>
                        <div class="row m0 post_contents">
                            <div class="row m0 category money">
                                <a href="#">money</a>
                                <div class="dropdown pull-right social_share_drop">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="post_title"><a href="#">Woman finds 4 urns in recently purchased used car</a></h3>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>                    
                        </div>
                    </div>
                </div><!--Post-->
                <div class="col-sm-4 post post-6">
                    <div class="row m0 inner">
                        <div class="row m0 featured_img">
                            <a href="single-blog.html"><img src="images/posts/5.jpg" alt=""></a>
                        </div>
                        <div class="row m0 post_contents">
                            <div class="row m0 category sports">
                                <a href="#">sports</a>
                                <div class="dropdown pull-right social_share_drop">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="post_title"><a href="#">Tiger Tracker: Wyndham Championship, Round 2</a></h3>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>                    
                        </div>
                    </div>
                </div><!--Post-->
                <div class="col-sm-4 post post-4">
                    <div class="row m0 inner">
                        <div class="row m0 featured_img">
                            <a href="single-blog.html"><img src="images/posts/3.jpg" alt=""></a>
                        </div>
                        <div class="row m0 post_contents">
                            <div class="row m0 category politics">
                                <a href="#">politics</a>
                                <div class="dropdown pull-right social_share_drop">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="post_title"><a href="#">what happend this week? take our weekly news quiz</a></h3>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>                    
                        </div>
                    </div>
                </div><!--Post-->
                <div class="col-sm-4 post post-7 gallery">
                    <div class="row m0 inner">
                        <div class="row m0 featured_img">
                            <div id="post7_slider" class="post_control_slider flexslider">
                                <ul class="slides">
                                    <li><img src="images/posts/6.jpg" alt=""></li>
                                    <li><img src="images/posts/6.jpg" alt=""></li>
                                    <li><img src="images/posts/6.jpg" alt=""></li>
                                    <li><img src="images/posts/6.jpg" alt=""></li>
                                    <li><img src="images/posts/6.jpg" alt=""></li>
                                </ul>
                            </div>
                            <div id="post7_slider_control" class="post_slider_control flexslider">
                                <ul class="slides">
                                    <li><img src="images/posts/6-1.jpg" alt=""></li>
                                    <li><img src="images/posts/6-2.jpg" alt=""></li>
                                    <li><img src="images/posts/6-3.jpg" alt=""></li>
                                    <li><img src="images/posts/6-4.jpg" alt=""></li>
                                    <li><img src="images/posts/6-1.jpg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row m0 post_contents">
                            <div class="row m0 category sports">
                                <a href="#">sports</a>
                                <div class="dropdown pull-right social_share_drop">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="post_title"><a href="#">David Letterman has IndyCar title within reach with Graham Rahal</a></h3>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>                    
                        </div>
                    </div>
                </div><!--Post-->
                <div class="col-sm-8 post post-3 quote">
                    <div class="row m0 inner">
                        <img src="images/posts/2.jpg" alt="" class="img-responsive">
                        <div class="dropdown pull-right social_share_drop">
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                            </ul>
                        </div>
                        <div class="row m0 post_contents">                            
                            <div class="row m0 quote_text_row">
                                <h2 class="quote_mark">”</h2>
                                <h3 class="post_title">Many men go fishing all of their lives without knowing that it is not fish they are after.</h3>
                            </div>
                            <div class="row quote_text_footer">
                                <div class="col-sm-8 quote_author">
                                    <div class="media">
                                        <div class="media-left media-middle">
                                            <a href="#"><img src="images/posts/quote-author.png" alt=""></a>
                                        </div>
                                        <div class="media-body">
                                            <h5><a href="#">Orlando Ricky</a></h5>
                                            <p>Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 quote_cat">
                                    <h4 class="category sports"><a href="#">sports</a></h4>
                                    <ul class="post_meta nav nav-pills">
                                        <li><a href="#">August 6, 2015</a></li>
                                        <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                        <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                                    </ul>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div><!--Quote Post-->
                <div class="col-sm-4 post post-9">
                    <div class="row m0 inner">
                        <div class="row m0 featured_img">
                            <div class="owl-carousel post_dot_gallery">
                                <div class="item"><img src="images/posts/7.jpg" alt=""></div>
                                <div class="item"><img src="images/posts/7.jpg" alt=""></div>
                                <div class="item"><img src="images/posts/7.jpg" alt=""></div>
                                <div class="item"><img src="images/posts/7.jpg" alt=""></div>
                            </div>
                        </div>
                        <div class="row m0 post_contents">
                            <div class="row m0 category world">
                                <a href="#">world</a>
                                <div class="dropdown pull-right social_share_drop">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="post_title"><a href="#">Autopsy: St. Louis man killed by police was shot in back</a></h3>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>                    
                        </div>
                    </div>
                </div><!--Post-->
                <div class="col-sm-8 post post-5 interview">
                    <div class="row m0 inner">
                        <img src="images/posts/4.jpg" alt="" class="img-responsive">
                        <div class="dropdown pull-right social_share_drop">
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                            </ul>
                        </div>
                        <div class="row m0 post_contents">                   
                            <h4 class="category world"><a href="#">world</a></h4>
                            <h3 class="post_title">Interview with Lia Esheley about political issues in U.s.a</h3>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--Interview Post-->
                <div class="col-sm-4 post post-10">
                    <div class="row m0 inner">
                        <div class="row m0 featured_img">
                            <a href="single-blog.html"><img src="images/posts/8.jpg" alt=""></a>
                        </div>
                        <div class="row m0 post_contents">
                            <div class="row m0 category money">
                                <a href="#">money</a>
                                <div class="dropdown pull-right social_share_drop">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="post_title"><a href="#">Blind teen with autism rocks Star-Spangled Banner</a></h3>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>                    
                        </div>
                    </div>
                </div><!--Post-->
                <div class="col-sm-8 post post-8">
                    <div class="row m0 inner">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Uit8nBv1HCs"></iframe>
                        </div>
                    </div>
                </div><!--Post-->
                <div class="col-sm-8 post post-12">
                    <div class="row m0 inner">
                        <div class="row m0 featured_img">
                            <a href="single-blog.html"><img src="images/posts/10.jpg" alt=""></a>
                        </div>
                        <div class="row m0 post_contents">
                            <div class="row m0 category world">
                                <a href="#">world</a>
                                <div class="dropdown pull-right social_share_drop">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3 class="post_title"><a href="#">Whale photobombs TV host complaining about not seeing any whales</a></h3>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>                    
                        </div>
                    </div>
                </div><!--Post-->
                <div class="col-sm-4 post post-11 link">
                    <div class="row m0 inner">
                        <img src="images/posts/9.jpg" alt="">
                        <div class="dropdown pull-right social_share_drop">
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                            </ul>
                        </div>
                        <div class="row m0 post_contents">
                            <h4 class="category politics"><a href="#">politics</a></h4>
                            <h3 class="post_title"><a href="#">Deadly infections from medical scopes go unreported, raising health risks</a></h3>
                            <div class="media post_link">
                                <div class="media-left"><i class="fa fa-link"></i></div>
                                <div class="media-body media-middle">
                                    Download the list of the richest people in Forbes here: <a href="#">goo.gl/GQpTNo</a>
                                </div>
                            </div>
                            <ul class="post_meta nav nav-pills">
                                <li><a href="#">August 6, 2015</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>1456</a></li>
                                <li><a href="#"><i class="fa fa-commenting"></i>32</a></li>
                            </ul>                    
                        </div>
                    </div>
                </div><!--Post-->
            </div>
        </div>
    </section>    
    <nav id="page_nav" class="row m0">
        <a href="inc/page2.html"><i class="fa fa-refresh"></i></a>
        <span>Load More</span>
    </nav>
    <!--All Posts Here-->
<!--*****************************************************************************************************************-->

</template>