<template name="mainLayout">
 <div class="slideMenuClose"></div>
    
    <header class="row header1" id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="logo_container fleft">
                        <div id="slideMenu_trigger">
                            <img src="images/navigation/logo/bars.png" alt="">
                        </div>                        
                        <a class="navbar-brand" href="index.html" title="Age - Well Featured Magazine Template">Zetabase</a>
                    </div>                    
                </div>
                
                <div class="follow_nav fleft">
                    <div class="fleft menuTitle">Self Driving Cars</div>
                </div>
                
                <div class="rightSide_nav pull-right">
                    <div class="fleft current_date"></div>
                    <div class="fright search_dot">
                        <ul class="nav navbar-nav">
                            <li><a href="search-form.html" id="search_form"><i class="fa fa-search"></i></a></li>
                            <li><a href="#" id="scrollSpyTrigger"><img src="images/navigation/dot.png" alt=""></a></li>
                        </ul>
                    </div>                    
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top_nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="top_nav" class="collapse navbar-collapse fleft">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="author-post.html">Author</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="newsletter-signup.html" class="subscribe_popup">Subscribe</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
    </header>

    <body>{{> yield}}</body>
</template>
